<div class="box none-border">

    <div class="box">
        {{task.name}}
        <button class="btn btn-primary glyphicon glyphicon-plus btn-xs add-task-btn" ng-click="GtTaskCtrl.openModalToAddTask(task)"></button>
        <button class="btn btn-danger glyphicon glyphicon-minus btn-xs add-task-btn" ng-click="GtTaskCtrl.remove(task)"></button>
        <div class="clearfix"></div>
    </div>

    <div class="box child none-border"
         ng-repeat="task in task.tasks"
         gt-task task="task">
    </div>

</div>